@charset "UTF-8";
*{ font-family: arial,sans-serif; font-weight: bold;}
body {
	background-color: #998472;
	
}
#CM {
	width: 300px;
	height: 250px;
	border: 0px solid #ccc;
	margin: 0 auto;
		
	position:absolute; 
	}
#title {
	width: 100%;
	height: 30px;
	background-color: #ff8000;
}
.selectBtn {
	font-weight: 900;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 7px 10px 2px 10px;
}
.selectBtn:hover {
	background-color: #82c1da;
}
.selectYear {
	float: left;
	margin-left: 50px;
	position: absolute;
}
.selectMonth {
	float: left;
	margin-left: 120px;
	position: absolute;
}
.month {
	float: left;
	position: absolute;
}
.nextMonth {
	float: right;
}
.currentDay {
	float: right;
}
#context {
	background-color: #fff;
	width: 100%;
}
.week {
	width: 100%;
	height: 30px;
}
.week>h3 {
	float: left;
	color: #808080;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 16px;
}
.dayItem {
	float: left;
}
.lastItem {
	color: #d1c7b7 !important;
}
.item {
	color: #333;
	float: left;
	text-align: center;
	cursor: pointer;
	margin: 0;
	font-family: arial,sans-serif;
	font-size: 13px;
}
.item:hover {
	color: #ff8000;
}
.currentItem>a {
	background-color: #ff8000;
	width: 20px;
	line-height: 20px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}
#foots {
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	margin-top: -1px;
}
#footNow {
	float: right;
	margin: 6px 15px 0 0;
	color:  #82c1da;
	font-family: arial,sans-serif;
}
#Container {
	overflow: hidden;
	float: left;
}
#center {
	width: 100%;
	overflow: hidden;
}
#centerMain {
	width: 300%;
	margin-left: -100%;
}
#selectYearDiv {
	float: left;
	background-color: #fff;
}
#selectYearDiv>div {
	float: left;
	text-align: center;
	font-family: arial,sans-serif;
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
	color: #909090;
}
.currentYearSd, .currentMontSd {
	color: #ff4400 !important;
}
#selectMonthDiv {
	float: left;
	background-color: #fff;
}
#selectMonthDiv>div {
	color: #909090;
	float: left;
	text-align: center;
	font-family: arial,sans-serif;
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
}
#selectYearDiv>div:hover, #selectMonthDiv>div:hover {
	background-color: #efefef;
}
#centerCalendarMain {
	float: left;
}